    <!-- sample angular code -->
    <div class="container">
      <div class="row">

        <div id='test' class="six columns">
          <h5>Generate a random Pokemon!</h5>
          <a href="/#/generatePokemon" class="button six columns" ng-click="action.getPokemon()">GENERATE</a>
        </div>

        <div class="six columns">
          <h5>Generate a random Pokemon Move!</h5>
          <a href="/#/generateMove" class="button six columns" ng-click="action.getMove()">GENERATE</a>
        </div>
      </div>
      <hr>
      <div ng-show="" class="loading">
        <img src="" alt="" />
      </div>
      <div class="row" ng-show="generatePokemon"></div>

    </div>